@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default, dark ;
 }

 @plugin "daisyui/theme" {
   name: "light";
   default: true;
  --color-primary: #CAEB66;
  /* --color-primary: #FBC421; */
  --color-secondary: #1A1A1D;
  --color-extra: #016A70;
}

.font-urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



/* our services wave */
.ourServices-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.ourServices-wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.ourServices-wave .shape-fill {
    fill: #FFFFFF;
}
